<div class="container-fluid vh-100">
  <div class="row h-100 ">


      <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <div class="col d-flex flex-column">
      <app-navbar></app-navbar>

      <!-- CONTENT -->
      <div class="container-fluid mt-5">
        <div class="card p-5 shadow-sm">
          <router-outlet></router-outlet>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="mt-auto">
        <app-footer></app-footer>
      </div>

    </div>
  </div>
</div>
