  <!-- <div class="sidebar-heading">SITE LOGO </div>
  <div class="list-group list-group-flush">
    <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Users</a>
  </div> -->


<div class="sidebar">
  <div class="logo"><a href="#" class="simple-text logo-normal">
          LOGO
      </a>
  </div>
  <div class="sidebar-wrapper">
      <ul class="nav">
          <li class="nav-item " [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="./dashboard">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
              </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="./users">
                  <i class="material-icons">group</i>
                  <p>Users</p>
              </a>
          </li>
      </ul>
  </div>
  <div class="sidebar-background"></div>
</div>